# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude Git files
.git
.github
.gitignore

# Exclude Python cache files
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

# Exclude Python virtual environment
/venv

# Unused models:
#ComfyUI/models/juggernaut_XL2
ComfyUI/models/sdxl-v1.0
ComfyUI/models/controlnet/controlnet-luminance-sdxl-1.0
#ComfyUI/models/loras

ComfyUI/custom_nodes/ComfyUI-AnimateDiff-Evolved/motion_lora
ComfyUI/custom_nodes/ComfyUI-AnimateDiff-Evolved/models/mm_sdxl_v10_beta.ckpt
